chatgpt.txt
[
    {
        "id": "ce1f60616bd519cb",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b51e35fca5bedf0e",
        "type": "mqtt in",
        "z": "ce1f60616bd519cb",
        "name": "MQTT Input",
        "topic": "status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3f5a0d1dfac8b6a2",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "9f93ad189dcd7137"
            ]
        ]
    },
    {
        "id": "9f93ad189dcd7137",
        "type": "json",
        "z": "ce1f60616bd519cb",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "25b41d6981f326d2",
                "2d43db5b82037f1e",
                "c75ba6d5db713551",
                "f81d6df97782ba05",
                "f2893fbd99fef13f",
                "f88ec8710ec12440",
                "drowsyCheckNode"
            ]
        ]
    },
    {
        "id": "25b41d6981f326d2",
        "type": "debug",
        "z": "ce1f60616bd519cb",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d43db5b82037f1e",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Driver Status",
        "label": "Driver Status",
        "format": "{{msg.payload.status}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "c75ba6d5db713551",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "LED Status",
        "label": "LED Status",
        "format": "{{msg.payload.led}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "f81d6df97782ba05",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Timestamp",
        "label": "Timestamp",
        "format": "{{msg.payload.timestamp}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "f2893fbd99fef13f",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Buzzer Status",
        "label": "Buzzer Status",
        "format": "{{msg.payload.buzzer}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "f88ec8710ec12440",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Vibration Status",
        "label": "Vibration Status",
        "format": "{{msg.payload.vibration}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "drowsyCheckNode",
        "type": "function",
        "z": "ce1f60616bd519cb",
        "name": "Check Drowsy Status",
        "func": "if (msg.payload.status === 'sleeping' || msg.payload.status === 'drowsy') {\n    msg.payload = {\n        token: 'YOUR_API_KEY',\n        user: 'YOUR_USER_KEY',\n        message: 'Driver Alert: ' + msg.payload.status + ' detected at ' + msg.payload.timestamp,\n        title: 'Driver Drowsiness Warning',\n        priority: 1,\n        sound: 'siren'\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "pushoverApiNode"
            ]
        ]
    },
    {
        "id": "pushoverApiNode",
        "type": "http request",
        "z": "ce1f60616bd519cb",
        "name": "Pushover API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.pushover.net/1/messages.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3f5a0d1dfac8b6a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1:1880",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b2c3d4e5.6f7a8",
        "type": "ui_group",
        "name": "Alert System",
        "tab": "a1b2c3d4.5e6f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1b2c3d4.5e6f7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]